@import '../../node_modules/swiper/swiper';
@import './tippi';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts';
@import './icons';

//Base========================================================================================================================================================
@layer base {
	html,
	body {
		@apply min-h-full;
	}

	.wrapper {
		@apply flex flex-col h-full;
	}

	main {
		@apply flex-auto;
	}

	input[type='checkbox'],
	input[type='radio'] {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
}

body {
	> * {
		min-width: 0;
	}

	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	.loaded & {
	}
}

//Buttons========================================================================================================================================================
@layer components {
	.yellow-btn {
		@apply appearance-none block text-center w-full rounded-xl bg-_cta p-4 text-base uppercase transition-all hover:bg-_cta-300 outline-none focus-visible:shadow-outline  active:bg-_cta  md:text-sm;
	}

	.blue-border-btn {
		@apply appearance-none text-_primary block text-center w-full rounded-xl border-2 border-solid border-_primary p-[14px] hover:border-_primary-400   hover:text-_primary-400 outline-none focus-visible:shadow-outline active:border-_primary-600 active:text-_primary-600 disabled:border-_black-200 disabled:bg-_black-200 disabled:text-_black-400;
	}

	.blue-underline-btn {
		@apply appearance-none uppercase text-_primary block text-center w-full rounded-xl p-4 underline hover:text-_primary-400   outline-none focus-visible:shadow-outline active:text-_primary-600 disabled:text-_black-400 md:text-sm md:p-3;
	}

	.blue-fill-btn {
		@apply appearance-none block w-full uppercase text-center rounded-xl p-4 text-white bg-_primary hover:bg-_primary-400 active:bg-_primary-600 transition-all outline-none focus-visible:shadow-outline;
	}

	.basket-item {
		@apply grid grid-cols-4 items-center gap-5 font-mulish mb-2;

		span {
			&:nth-child(1) {
				@apply col-span-2;
			}

			&:nth-child(2) {
				@apply col-span-1 text-center;
			}

			&:nth-child(3) {
				@apply col-span-1 text-center;
			}
		}

		i {
			@apply cursor-pointer p-1 rounded-full active:bg-_black-200 hover:text-_error transition-all;
		}
	}
}

//Words-Switcher========================================================================================================================================================
.word-end {
	top: -100%;
	opacity: 0;
}

.word-active {
	top: 0;
	opacity: 1;
}

.word-start {
	top: 100%;
	opacity: 0;
}

//Meny-icon========================================================================================================================================================
.icon-menu {
	display: none;

	@media (width <= 991px) {
		display: block;
		position: relative;
		width: 33px;
		height: 22px;
		cursor: pointer;
		z-index: 11;

		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #000;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - 1px);
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				background-color: #f4f6f7;
			}

			&::before {
				top: calc(50% - 2px);
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}

//Input========================================================================================================================================================
.input-box {
	width: 100%;

	label {
		display: block;
		width: 100%;
		position: relative;
	}

	input {
		display: block;
		background-color: #fff;
		border: 2px solid #c8c8c8;
		border-radius: 12px;
		padding: 14px 24px 14px 20px;
		width: 100%;
		font-family: Mulish;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: #363c43;
		outline: none;
		appearance: none;

		&::placeholder {
			color: #818181;
		}

		&:hover {
			border: 2px solid #666;
		}

		&:focus-visible {
			border: 2px solid #5c9bda;
			box-shadow: 0 0 0 5px rgb(203 203 203);
		}

		&:disabled {
			background: #e3e3e3;
			pointer-events: none;
		}
	}

	.icon-check,
	.icon-delete {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 12px;
		display: none;
	}

	.icon-check {
		color: #5dba60;
	}

	.icon-delete {
		color: #e65f5f;
	}

	span {
		display: none;
		font-size: 12px;
		text-align: right;
		padding-top: 8px;
		color: #e65f5f;
	}

	// status ++++++++++++++++++++++++++++++++++++++
	&.ok {
		input {
			border: 2px solid #5dba60;
		}

		.icon-check {
			display: block;
		}
	}

	&.error {
		input {
			border: 2px solid #e65f5f;
		}

		.icon-delete {
			display: block;
		}

		span {
			display: block;
		}
	}
}

//CheckBox========================================================================================================================================================
.checkbox {
	display: flex;
	gap: 8px;
	align-items: center;
	cursor: pointer;
	width: fit-content;

	span {
		background: #fff;
		border: 1px solid #a4a4a4;
		border-radius: 4px;
		width: 20px;
		height: 20px;
		display: block;
		transition: all 0.3s ease 0s;
		position: relative;
		flex: none;
	}

	i.icon-check {
		font-size: 12px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		transition: all 0.3s ease 0s;
	}

	b {
		font-weight: 600;
		font-size: 16px;
		line-height: 100%;
		transition: all 0.3s ease 0s;

		@media (width <= 767.98px) {
			font-size: 14px;
		}
	}

	&:hover {
		span {
			border: 1px solid #383838;
			transition: all 0.3s ease 0s;
		}

		b {
			text-decoration-line: underline;
			transition: all 0.3s ease 0s;
		}
	}

	input:checked + span i.icon-check {
		transform: translate(-50%, -50%) scale(1);
		transition: all 0.3s ease 0s;
	}

	input:focus-visible + span {
		box-shadow: 0 0 0 3px rgb(203 203 203);
	}

	&.checkbox_start {
		align-items: start;
	}

	&.checkbox_big {
		max-width: 440px;
		gap: 20px;

		span {
			width: 30px;
			height: 30px;
		}

		i.icon-check {
			font-size: 18px;
		}
	}

	// State ++++++++++++++++++++
	&.error {
		span {
			border: 1px solid #e65f5f;
		}
	}
}

//Checkbox item========================================================================================================================================================
.checkbox-item {
	@apply relative cursor-pointer block p-2 border-2 border-_gray-200  rounded-xl transition-all;

	h6 {
		@apply mb-5 pointer-events-none;
	}

	i.icon-info {
		@apply absolute bottom-1 left-1 text-_gray;

		@media (width <= 575.98px) {
			@apply bottom-1 left-auto right-1;
		}
	}

	span {
		@apply block text-right pointer-events-none;

		@media (width <= 575.98px) {
			@apply text-left;
		}
	}

	&.active {
		@apply border-_primary;

		i {
			@apply text-_primary;
		}
	}
}

//Basket========================================================================================================================================================
.basket-btn {
	@media (width >= 991.98px) {
		display: none;
	}

	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 60px;
	height: 60px;
	background: #ffdb5c;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	i.icon-basket {
		font-size: 30px;
		pointer-events: none;
	}

	span {
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 27px;
		height: 27px;
		position: absolute;
		top: -14px;
		right: 0;
		color: #fff;
		font-size: 14px;
		font-family: Mulish;
		background: #e65f5f;
		border-radius: 50%;
	}
}

.basket-mobile {
	@media (width <= 991.98px) {
		position: fixed;
		inset: 0;
		padding: 80px 15px;
		overflow: auto;
		background: rgb(19 45 70 / 50%);
		z-index: 1000;
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__body {
		@media (width <= 991.98px) {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			min-height: 100%;
			width: 100%;
		}
	}

	&__content {
		@media (width <= 991.98px) {
			max-width: 690px;
			width: 100%;
			position: relative;
			transform: translate(900px, 0);
			transition: all 0.3s ease 0s;

			.active & {
				transform: translate(0, 0);
				transition: all 0.3s ease 0s;
			}
		}
	}

	&__close-btn {
		i {
			pointer-events: none;
		}

		@media (width >= 991.98px) {
			display: none;
		}

		@media (width <= 991.98px) {
			color: #737b7d;
			position: absolute;
			padding: 10px;
			top: 10px;
			right: 10px;
		}
	}
}

//Popup========================================================================================================================================================
.popup {
	position: fixed;
	inset: 0;
	padding: 30px 15px;
	overflow-x: hidden;
	overflow: auto;
	background: rgb(19 45 70 / 50%);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease 0s;

	&._popup-open {
		transition: all 0.3s ease 0s;
		opacity: 1;
		visibility: visible;
	}

	&__body {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		width: 100%;
	}

	&__content {
		background: #eef4ff;
		border-radius: 16px;
		width: 100%;
		transform: scale(0);
		transition: all 0.3s ease 0s;
		position: relative;
		overflow: hidden;

		._popup-open & {
			transform: scale(1);
			transition: all 0.3s ease 0s;
		}
	}

	&__close-btn {
		position: absolute;
		padding: 10px;
		right: 5px;
		top: 5px;
		color: #737b7d;

		i {
			pointer-events: none;
		}

		@media (width <= 767.98px) {
			top: 0;
			right: 0;
		}
	}
}

//Bullets========================================================================================================================================================
.popup-bullets {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: wrap;

	.swiper-pagination-bullet {
		display: block;
		background: #afb2b6;
		width: 5px;
		height: 5px;
		border-radius: 50%;
	}

	.swiper-pagination-bullet-active {
		background: #24acb1;
	}
}

.popup-nav-btn {
	color: #4eafbb;

	i {
		font-size: 40px;

		@media (width <= 767.98px) {
			font-size: 30px;
		}
	}

	&:disabled {
		color: #737b7d;
	}
}
